.addNode {
  width: 30px;
  height: 30px;
  top: 70px;
  padding: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d3897;
  border-radius: 50%;
  border: none;
}

.addNode:hover {
  background-color: #48449f;
}

.addNode svg {
  width: 20px;
}

.left {
  right: 50px;
}

.right {
  left: 50px;
}

.treeHandle {
  /* Centers handle with node */
  left: 50% !important;

  /* By making the handle as small as possible, the left position of the connection is largely indiscernible and appears centered  */
  height: 0;
  width: 0;
  min-height: 0;
  min-width: 0;

  /* Make invisible and uninteractable, otherwise a point (the border) will be visible */
  opacity: 0;
  pointer-events: "none";
}