.addNode {
  width: 30px;
  height: 30px;
  top: 70px;
  padding: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d3897;
  border-radius: 50%;
  border: 0 solid black;
}

.addNode:hover {
  background-color: #413d99;
}

.addNode svg {
  width: 20px;
}

.left {
  right: 50px;
}

.right {
  left: 50px;
}
